@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap');

:root {
  --purple: #4E2E8A;
  --pink : #F05E86;
  --green : #219653;
  --grey : #595757;
  --lato : 'Lato', sans-serif;
  --roboto : 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

section {
  font-family: var(--lato) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

.c-white {
  color: white !important;
}

.c-purple {
  color: var(--purple) !important;
}

.bg-green {
  background-color: var(--green);
}

.bg-pink {
  background-color: var(--pink);
}

.btn {
  border: none;
}

.p-vertical {
  padding: 1rem 0;
}

.search {
  position: relative;
}

.icon-search {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  z-index: 1;
}

.search input {
  width: 40em;
  height: 4.5em;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  border: solid 1px #eee;
  border-radius: 3px;
  font-size: .8rem;
  padding: 13px 10px 13px 40px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.user {
  padding: 16px;
}

.nav-link{
  color: #000000;
}

.nav-link:hover, .nav-link:active {
  color: var(--purple) !important;
}

.border-semi {
  border-color: #eee;
}

.container-custom {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

a {
  text-decoration: none !important;
}

.max-width-850 {
  max-width: 850px;
}

icon {
  height: 1em;
  width: 1em;
}

roboto {
  font-family: var(--roboto) !important;
  font-size: 400 !important;
}

.f-lato {
  font-family: var(--lato) !important;
}

a {
  color: var(--grey) !important;
  cursor: pointer;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.border-purple:hover {
  border-left: 5px solid var(--purple) !important;
}

.c-purple:hover, .c-purple:active {
  color: var(--purple);
  font-weight: 700;
}