.detail {
  position: absolute;
  width: 769px;
  height: 948px;
  right: 159px;
  top: 32px;

  border: 1px solid rgba(175, 175, 175, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.detail-title {
  position: relative;
  width: 720px;
  margin: auto;
  display: flex;
  text-align: center;
  padding-top: 24px;
}

.title {
  position: relative;
  margin: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* pink */

  color: #f05e86;
}

.detail-title img {
  position: absolute;
  top: 30px;
  width: 6px;
  height: 12px;
}

.detail-div {
  position: relative;
  width: 720px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #dbdbdb;

  text-align: left;
}

.detail-div p {
  margin-bottom: 24px;
}

.detail-div img {
  position: absolute;
  width: 106px;
  height: 106px;
  right: 0px;
  bottom: 28px;
}

.rincian-div {
  padding-bottom: 0px;
}

.detail-content td {
  padding-bottom: 6px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.col2 {
  column-width: 24px;
}

.col1 {
  column-width: 188px;
}

.detail-content {
  text-align: left;
  border-collapse: collapse;
}

.table-rincian {
  position: relative;
  text-align: justify;
  border-collapse: collapse;
  width: 100%;
}

.table-rincian td {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.table-rincian td:first-child {
  text-align: left;
}

.table-rincian td:nth-child(2) {
  text-align: left;
  padding-left: 40px;
}

.table-rincian td:nth-child(4) {
  text-align: left;
  padding-left: 30px;
}

.table-rincian th {
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-weight: 600;
  color: #000000;
}

.table-rincian tr {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* identical to box height */

  color: #000000;
}

.table-rincian tr:first-child {
  background: #e5e5e5;
}

.table-rincian tr:nth-child(n + 3) {
  color: #595757;
}

.table-rincian tr:nth-child(2) {
  border-top: 18px solid white;
}

.table-rincian tr:nth-child(6) {
  border-top: 18px solid white;
}

.table-rincian tr:last-child {
  background: #e5e5e5;
  color: #000000;
}

.table-rincian th:first-child {
  padding-left: 48px;
  text-align: left;
}

.rincian-col1 {
  column-width: 260px;
}

.rincian-col2 {
  column-width: 140px;
}

.rincian-col3 {
  column-width: 158.5px;
}

.rincian-col4 {
  column-width: 117.5px;
}
